<div style="width: 100%; padding: 20px">
    <h1>Rich Grid Example</h1>
    <div style="width: 800px">
        <div style="display: inline-block; width: 100%">
            <div style="float: left">
                <b>Employees Skills and Contact Details: </b>{{rowCount}}
            </div>
        </div>
        <div style="margin-top: 10px">
            <div>
            <span>
                Grid API:
                <button (click)="this.api.selectAll()" class="btn btn-primary">Select All</button>
                <button (click)="this.api.deselectAll()" class="btn btn-primary">Clear Selection</button>
            </span>
                <span style="float: right">
                Column API:
                <button (click)="this.api.setColumnsVisible(['country'], false)" class="btn btn-primary">Hide Country Column</button>
                <button (click)="this.api.setColumnsVisible(['country'], true)" class="btn btn-primary">Show Country Column</button>
            </span>
            </div>
        </div>
        <div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px">
            <div style="float: left">
                <button (click)="this.createRowData()" class="btn btn-primary">Refresh Data</button>
            </div>
            <div style="float: right">
                Filter API:
                <button (click)="this.invokeSkillsFilterMethod()" class="btn btn-primary">Invoke Skills Filter Method
                </button>
                <button (click)="this.dobFilter()" class="btn btn-primary">DOB equals to 01/01/2000</button>
            </div>
        </div>
        <div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px">
            <div style="float: left">
                <label for="sideBarToggle">Show Side Bar&nbsp;</label>
                <input type="checkbox" id="sideBarToggle" (change)="toggleSidebar($event)" style="margin-right: 5px" />
            </div>
            <div style="float: right; margin-left: 20px">
                <label for="quickFilter">Quick Filter:&nbsp;</label>
                <input (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilter"
                       placeholder="Type text to filter..." style="margin-right: 10px"/>
            </div>
        </div>
    </div>
    <ag-grid-angular style="width: 100%; padding-right: 20px; height: 650px;" class="ag-theme-alpine"
                     [columnDefs]="columnDefs"
                     [sideBar]="sideBar"
                     [rowData]="rowData"

                     [defaultColDef]="defaultColDef"
                     [components]="components"
                     [modules]="modules"

                     [enableCharts]="true"
                     [enableRangeSelection]="true"

                     [suppressRowClickSelection]="true"
                     [rowSelection]="'multiple'"

                     (gridReady)="onGridReady($event)"
                     (modelUpdated)="onModelUpdated()"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)">
    </ag-grid-angular>
</div>
